*{
  margin: 0;
  padding: 0;
}
body{
  overflow-x: hidden;
}
.nav{
  position: sticky;
  background-color: #000000;   
  top: 0;
  z-index: 1;
}
.nav-shadow {
  
  box-shadow: 0 5px 7px rgba(0,0,0,0.3);
}
#logo{
  color: white;
  letter-spacing: 2px;
  font-size: 22px;
  margin-left: 10px;
}
#logoimg{
  height: 30px;
  vertical-align: -8px;
}
.imageshow{
  height: 100vh;
  /* background-image: url(car-wallpaper.jpg); */
}
#carwallpaper{
  height: fit-content;
  width: fit-content;
}
#tagline{
  position: relative;
  top: 200px;
  left: 80px;
  height: 300px;
  width: 250px;
  /* background-color: violet; */
}
h2{
  color: white;
}
.aboutweb{
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#webspan{
  font-size: 48px;
  font-family: 'Raleway', sans-serif;
}
.span1{
  margin-top: 40px;
}
#specifications{
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-direction: row;
  height: 80%;
  width: 100%;
  /* padding-right: 5%; */
  /* background-color: tomato; */
}
#estimate{
  position: absolute;
  left: 20%;
  height: 240px;
  width: 100px;
  /* background-color: yellow; */
  display: flex;
  align-items: center;
  flex-direction: column;
}
#sell{
  position: absolute;
  left: 80%;
  height: 240px;
  width: 100px;
    /* background-color: yellow; */
  display: flex;
  align-items: center;
  flex-direction: column;
}
#buy{
  position: absolute;
  left: 50%;
  height: 240px;
  width: 100px;
    /* background-color: yellow; */
  display: flex;
  align-items: center;
  flex-direction: column;
}
