*{
  margin: 0;
  padding: 0;
}
.nav{
  position: sticky;
  background-color: #000000;   
  top: 0;
  z-index: 1;
}
.nav-shadow {
  
  box-shadow: 0 5px 7px rgba(0,0,0,0.3);
}
#logo{
  color: white;
  letter-spacing: 2px;
  font-size: 22px;
  margin-left: 10px;
}
#logoimg{
  height: 30px;
  vertical-align: -8px;
}
